@import '../../../utils/styles/button-styles.module.scss';

.subtitle {
    width: 10%;
    font-size: 30px;
    margin: 30px auto;
}

.media {
    padding-bottom: 50px;

    h1 {
        font-size: 30px;
        margin: 25px 0;
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 85px;
        margin: 0 auto;
    }
}