.error {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        color: #fff;
        margin: 0 auto 30px auto;
        max-width: 30%;
        height: 50px;
        border-radius: 4px;

    }